# Python virtual env
venv/

# Migrations
migrations/
__pycache__/

#Csv's
breakdownPredictions/
data/
raw_data/
data_transformation/joblibs/
breakdownPredictions/
results_clustering/
trained_models/
#Static files
static/

# all csv
*.csv